body {
  margin-top:5%;
  font-family: Arial; 
  text-align: center;
  background-color: #000000; 
  
}
h1{
  color: white;
  text-align: center;
}

h4{
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}
.text{
  color: rgb(0, 238, 255);
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-color{
  color: white;
}

#clear-button{
  color:hotpink;
  margin-top: 2%;
}

table {
  border-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 25px;
  
}

td {
  width: 130px; 
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
}
button {
  --green: #1BFD9C;
  font-size: 20px;
  padding: 0.7em 2em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 3px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}

#quote {
  font-style: italic; 
  font-size: 24px;
  padding: 30px; 
  text-align: center;
  color:azure;
} 

/*button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #1721a5;
  cursor: pointer;
}
*/


@media only screen and (max-device-width: 480px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 44px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 20px; 
  }


}
